<div class="container text-center">
  <h1>Caesar Cypher</h1>
    <form action="/results">
      <input type="text" name="textencrypt" placeholder="text to encrypt">
      <input type="number" name="permutation_level" placeholder="permutation level">
      <input type="submit" class="btn btn-primary">
    </form>
</div>
